<div class="row">
    <div class="col-lg-4" id="headerHomepageLeft">
        <br>
        <img src="/assets/images/wcs.png" class="rounded mx-auto d-block" alt="..." width="300">
    </div>
    <div class="col-lg-8" id="headerHomepageRight">
        <div class="row">
            <div class="col-3 mt-1">
                <img class="rounded-circle" src="{{ session.user.avatar|raw }}" alt="image" width="150" height="150">
            </div>
            <div class="col-md-5 col-xs-12 pr-3">
                <p class="welcome"><small>Bienvenue </small><strong>{{ session.user.firstName|raw|capitalize }}</strong></p>
            </div>
            <div class="meteo pl-1 col-md-4 mt-4 col-xs-12" id="cont_NTkzNTB8MXw0fDF8NXwyMWIyYTN8MXxGRkZGRkZ8Y3wx">
                <div id="spa_NTkzNTB8MXw0fDF8NXwyMWIyYTN8MXxGRkZGRkZ8Y3wx">
                    <a id="a_NTkzNTB8MXw0fDF8NXwyMWIyYTN8MXxGRkZGRkZ8Y3wx"
                       href="http://www.meteocity.com/france/lille_v59350/" target="_blank"
                       class="meteo">Météo Lille ©
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
