{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <img src="/assets/images/favicon.png" class="rounded mx-auto d-block" alt="icone">
            </div>
            <div class="col">
                <h1 class="form-heading">login Form</h1>
                <div class="login-form">
                    <div class="main-div">
                        <div class="panel">
                            <h1>Connexion</h1>
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <label for="email">Adresse Email </label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                <small id="emailHelp" class="form-text text-muted">Nous ne partageons pas votre email.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe">
                            </div>
                            <p>{{ error }}</p>
                            <input type="submit" class="btn btn-primary mt-3" value="Connexion">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
        {% block footer %}
        {% endblock %}
