{% extends 'layout.html.twig' %}
{% block title %}Editer le profil de {{ user.firstName|capitalize }} {{ user.lastName|upper }}{% endblock %}

{% block content %}
    <div class="container-fluid mb-5">
        {% include '_header.html.twig' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col mt-2 mb-5">
                {% include 'Staff/_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://widget.meteocity.com/js/NTkzNTB8MXw0fDF8NXwyMWIyYTN8MXxGRkZGRkZ8Y3wx"></script>
{% endblock %}